@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Şifremi Unuttum Doğrulama";
}

<h1>@ViewData["Title"]</h1>
<p>
    Şifrenizi sıfırlamak için lütfen e mail hesabınızı kontrol edin.
</p>

